## User settings
xcuserdata/

## Xcode Specific
*.xcscmblueprint
*.xccheckout

## Xcode build generated
DerivedData/
build/
*.generated.swift

## Logs
*.log

## Swift Package Manager
Packages/
Package.resolved
.swiftpm/
.build/

## macOS
.DS_Store

## Dependency directories
# Various potential dependency caches
.idea/
.vscode/

## Temp files
*.swp
*~
.*.kate-swp
.swp.*

## Testing
.coverage/
*.coverage

## Carthage
Carthage/Build/

## CocoaPods
Pods/

## Backup files
*.bak
*.gho
*.ori
*.orig
*.tmp

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace